In [26]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [27]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Castro,BR,2020-07-10 15:59:17,-24.79,-50.01,66.78,40,28,5.55
1,1,Punta Arenas,CL,2020-07-10 16:00:47,-53.15,-70.92,32.00,83,75,11.41
2,2,Puerto Ayora,EC,2020-07-10 16:02:53,-0.74,-90.35,70.00,90,99,5.01
3,3,Khatanga,RU,2020-07-10 16:02:53,71.97,102.50,54.52,78,100,16.87
4,4,Havoysund,NO,2020-07-10 16:02:53,71.00,24.66,46.40,87,75,20.80

In [28]:
# Looking at the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [29]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [30]:
# Heatmap of temperature

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
[max(temp, 0) for temp in max_temp]
    
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Heatmap for Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [35]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Puerto Ayora,EC,2020-07-10 16:02:53,-0.74,-90.35,70.00,90,99,5.01
5,5,Albany,US,2020-07-10 16:02:40,42.60,-73.97,84.00,63,99,7.02
9,9,San Patricio,MX,2020-07-10 16:02:54,19.22,-104.70,84.20,74,75,1.19
10,10,Avera,US,2020-07-10 16:02:55,33.19,-82.53,89.60,59,40,6.93
12,12,Atuona,PF,2020-07-10 16:02:55,-9.80,-139.03,79.63,79,66,20.40
14,14,Trairi,BR,2020-07-10 16:02:56,-3.28,-39.27,84.06,65,18,13.42
17,17,Jamestown,US,2020-07-10 16:02:16,42.10,-79.24,80.60,65,1,10.29
22,22,Butaritari,KI,2020-07-10 16:02:57,3.07,172.79,82.24,79,100,9.60
23,23,Bubaque,GW,2020-07-10 16:02:57,11.28,-15.83,81.66,80,99,14.52
24,24,Bose,IT,2020-07-10 16:02:58,45.46,8.01,82.99,62,84,3.89

In [36]:
preferred_cities_df.count()

City_ID       273
City          273
Country       272
Date          273
Lat           273
Lng           273
Max Temp      273
Humidity      273
Cloudiness    273
Wind Speed    273
dtype: int64

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
2   Puerto Ayora      EC     70.00  -0.74  -90.35
5         Albany      US     84.00  42.60  -73.97
9   San Patricio      MX     84.20  19.22 -104.70
10         Avera      US     89.60  33.19  -82.53
12        Atuona      PF     79.63  -9.80 -139.03
14        Trairi      BR     84.06  -3.28  -39.27
17     Jamestown      US     80.60  42.10  -79.24
22    Butaritari      KI     82.24   3.07  172.79
23       Bubaque      GW     81.66  11.28  -15.83
24          Bose      IT     82.99  45.46    8.01

In [38]:
# Set the parameters to search for a hotel in Paris
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}

# Use base URL to search for hotels in Paris
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Make request and get the JSON data from the search
hotels = requests.get(base_url, params=params).json()

In [40]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
   
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [41]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Puerto Ayora,EC,70.00,-0.74,-90.35,Finch Bay Galapagos Hotel
5,Albany,US,84.00,42.60,-73.97,
9,San Patricio,MX,84.20,19.22,-104.70,Hotel Cabo Blanco
10,Avera,US,89.60,33.19,-82.53,
12,Atuona,PF,79.63,-9.80,-139.03,Villa Enata
14,Trairi,BR,84.06,-3.28,-39.27,Pousada Field Lilies - Trairi
17,Jamestown,US,80.60,42.10,-79.24,Hampton Inn & Suites Jamestown
22,Butaritari,KI,82.24,3.07,172.79,Isles Sunset Lodge
23,Bubaque,GW,81.66,11.28,-15.83,Casa Dora
24,Bose,IT,82.99,45.46,8.01,Locanda Borgo Antico

In [42]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [45]:
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [48]:
# Add a heatmap of temperature for the vacation spots and marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))